main {
  display: grid;
  align-items: center;
  justify-content: center;

  section.grid {
    display: grid;
    grid-template-rows: repeat(10, 50px);

    & > section {
      display: grid;
      grid-template-columns: repeat(10, 50px);

      & > section {
        border: 1px dotted black;
      }
    }
  }
}