<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/J18/bre04-unit-tests/tests" />
        <option value="$PROJECT_DIR$/J18/bre04-phpunit/tests" />
      </list>
    </option>
  </component>
</project>